<a id="<%= dom_id article %>" class="card" href="<%= article_path(article) %>">
  <div class="card-body">
    <h5 class="card-title">
      <%= article.title %>
    </h5>
    <h6>
      <%= article.description %>
    </h6>
  </div>
</a>
