

<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<h1>Deshira: <%= @article.title %></h1>
<%= render @article %>
<div>
  <%= link_to "Kthehu te deshirat", articles_path, class: "btn btn-dark mt-4" %>
</div>
