<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users" class="d-flex flex-column gap-4 mt-4">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>

<%= link_to "Regjistrohu", new_user_path %>
