<h1>How to use wishlist.com?</h1>
<p class="mt-3">
  Lista e deshirave eshte nje aplikacion web i thjeshte qe te mundeson te krijojesh dhe te shohesh deshirat e tua.
</p>
<p>
  Ne krye te faqes do te gjesh nje link qe te kthehet ne faqen kryesore, nje link qe te dergon ne listen e deshirave dhe nje link qe te dergon ne kete faqe.
 </p>
<p>
  Ne faqen kryesore do te shohesh listen e deshirave te tua. Per cdo deshire do te shohesh pershkrimin dhe kohen e krijimit. Per cdo deshire do te kesh mundesi te shikosh detajet, te ndryshosh deshiren dhe te fshish deshiren.
</p>
