<h1>How to use wishlist.com?</h1>
<p class="mt-3">
  The wishlist is a simple web application that allows you to create and view your wishes.
</p>
<p>
  At the top of the page, you will find a link to return to the homepage, a link to go to the wishlist, and a link to this page.
</p>
<p>
  On the homepage, you will see your wishlist. For each wish, you will see the description and the creation time. For each wish, you will have the option to view details, edit the wish, and delete the wish.
</p>