<h1>listaedeshirave.com</h1>
<p>Ky website eshte krijuar per te ndihmuar ne gjetjen e deshirave te personave te ndryshme.</p>

<%= link_to "Shiko deshirat", articles_path, class: "btn btn-dark" %>
<%= link_to "Krijo nje deshire", new_article_path, class: "btn btn-light" %>
<%= link_to "Regjistrohu", signup_path, class: "btn btn-light" %>